/* Basic styling */
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

main {
    padding: 20px;
}

.hidden {
    display: none;
}

/* Style form elements */
form {
    margin-bottom: 20px;
}

input, select, textarea {
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/*style map */
#mapSection {
    margin-top: 20px;
}

#map {
    height: 400px; /* adjust height */
    width: 100%;
}
